ul {
  margin: 0;
  padding: 0;
}
div {
  box-sizing: border-box;
}
li {
  list-style: none;
}
/*================布局版面样式=================*/
/*===============文字样式============*/
.font12px {
  font-size: 12px;
}
.font13px {
  font-size: 13px;
}
.font14px {
  font-size: 14px;
}
.font15px {
  font-size: 15px;
}
.font_big {
  font-size: 26px;
}
.font_small {
  font-size: 10px;
}
.font-family {
  font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.text-disabled {
  color: #777777 !important;
}
.text-disabled-l {
  color: #9d9d9d !important;
  line-height: 10px;
  height: 14px;
  vertical-align: bottom;
  cursor: pointer;
}
.dropdown-menu .text-disabled:hover,
.dropdown-menu .text-disabled:focus {
  color: #ffffff !important;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.margin-left15 {
  margin-left: 1em !important;
}
.margin-right15 {
  margin-right: 1em !important;
}
.navbar-user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 5px;
  display: inline-block !important;
}
.margin-up-down10 {
  padding: 5px !important;
}
/*自定义的无样式元素 获取用户焦点*/
.user-Focus {
  color: #ffffff;
}
.open .user-Focus {
  background: #000;
}
.user-Focus:focus,
.user-Focus:hover {
  color: #ffffff;
}
.w25 > div {
  width: 25% !important;
}
.w20 > div {
  @media (max-width:1920px){
    width: 14.28%;
  }
  @media (max-width:1360px){
    width: 16.666%;
  }
  @media (max-width:992px){
    width: 20%;
  }
  @media (max-width:768px){
    width: 25%;
  }
}
::-webkit-scrollbar {
  width: 4px;
  height: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 0px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  background: #fcf8e3;
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.4);
}
.btn-width125 {
  width: 125px;
}
.padding-right-left {
  padding: 0 10px;
}
.inline-block {
  display: inline-block !important;
}
/*======z自定义组件样式css样式========*/
/*背景图片*/
#bg-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-position: center 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.bg-img-1 {
  background-image: url('../img/home/bg_1.jpg');
}
.bg-img-2 {
  background-image: url('../img/home/bg_2.jpg');
}
.bg-img-3 {
  background-image: url('../img/home/bg_3.jpg');
}
.bg-img-4 {
  background-image: url('../img/home/bg_4.jpg');
}
.bg-img-5 {
  background-image: url('../img/home/bg_5.jpg');
}
/*======鼠标悬浮提示============*/
.labelInfo {
  background: #fefefe;
  color: #000;
  font-size: 12px;
  width: 160px;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.labelInfo:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 45%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid red;
}
.labelInfo > div {
  padding: 0 10px;
}
.labelInfo .labelInfo-tilte {
  font-size: 14px;
  height: 35px;
  line-height: 34px;
  border-bottom: 1px solid #dcdcdc;
  text-align: center;
}
.labelInfo .labelInfo-content {
  color: #888888;
  padding: 10px;
}
.labelInfo .labelInfo-footer {
  padding: 0 10px 10px 10px;
}
.card {
  border-radius: 5px;
  border: #eee solid 1px;
  background-color: #ffffff;
  text-align: center;
  margin: 0.7em 0.8em;
  -webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.7, 1) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.7, 0, 0.7, 1) 0s;
  -o-transition: all 0.3s cubic-bezier(0.7, 0, 0.7, 1) 0s;
  transition: all 0.3s cubic-bezier(0.7, 0, 0.7, 1) 0s;
  -khtml-transition: all 0.3s cubic-bezier(0.7, 0, 0.7, 1) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.7, 0, 0.7, 1) 0s;
}
.card:hover {
  border: #ddd solid 1px;
  box-shadow: 2px 3px 5px #ddd;
}
.card .card-bg {
  height: 70px;
  background: #f6f6f6;
  box-shadow: 0px 0px 1px #f6f6f6;
  background-position: left 0;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}
.card .card-content {
  padding-bottom: 11px;
  position: relative;
  /*>.card-start{
      position: absolute;
      top: -5px;
      right: -5px;
      width: 83px;
      height: 83px;
      background: url(../img/home/badges_text.png) no-repeat;
    }
    >.start-4{
      background-position: 0 0;
    }
    >.start-2{
      background-position: -83px 0;
    }
    >.start-3{
      background-position: -166px 0;
    }
    >.start-1{
      background-position: 3px -166px;
    }
    >.start-5{
      background-position: 0 0;
    }*/
}
.card .card-content > h5 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
  color: #405B55;
}
.card .card-content > span {
  font-size: 12px;
  color: #6A8372;
  display: block;
  margin-bottom: 10px;
  margin-top: 3px;
}
.card .card-content .card-img {
  width: 106px;
  height: 106px;
  margin: 0 auto;
  padding: 11px 0 0 11px;
  border-radius: 50%;
  margin-top: -52px;
}
.card .card-content .card-img img {
  display: block;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  box-sizing: content-box;
}
.card .card-content .card-money {
  font: bold 10px Arial;
  margin-top: 3px;
  margin-bottom: 14px;
  color: #a6a6a6;
}
.card .card-content .card-money > span:first-child {
  color: #dd533f;
}
.card .card-content .card-btn {
  display: inline-block;
  color: rgba(39, 174, 91, 0.6);
  border: 1px solid rgba(39, 174, 91, 0.6);
  font-weight: 700;
  white-space: normal;
  height: 39px;
  width: 94px;
  cursor: pointer;
  line-height: 37px;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.2s cubic-bezier(0.7, 0, 0.7, 1) 0s;
  -moz-transition: all 0.2s cubic-bezier(0.7, 0, 0.7, 1) 0s;
  -ms-transition: all 0.2s cubic-bezier(0.7, 0, 0.7, 1) 0s;
  -o-transition: all 0.2s cubic-bezier(0.7, 0, 0.7, 1) 0s;
  transition: all 0.2s cubic-bezier(0.7, 0, 0.7, 1) 0s;
}
.card .card-content .card-btn:hover {
  background-color: rgba(39, 174, 91, 0.6);
  color: #ffffff;
  border-color: #ffffff;
  text-shadow: 0 1px 1px rgba(138, 27, 15, 0.41);
}
.card .card-content .card-btn .glyphicon {
  margin-right: 3px;
}
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px;
  }
}
svg:not(:root) {
  overflow: hidden;
}
.preloader {
  position: relative;
  display: inline-block;
}
.preloader:after {
  content: "";
  display: block;
  padding-top: 100%;
}
.preloader > svg {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.preloader > svg > circle {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-width: 2;
  stroke-miterlimit: 10;
  fill: none;
  animation: dash 1.5s ease-in-out infinite;
}
.preloader-green svg > circle {
  stroke: rgba(39, 174, 91, 0.6);
}
.preloader-md {
  width: 60px;
  height: 60px;
}
.preloader-sm {
  width: 45px;
  height: 45px;
}
.tip {
  display: none;
  position: absolute;
  z-index: 100000000000;
  max-width: 250px;
  color: #fff;
}
.tip .tip-arrow {
  height: 6px;
  background: url(../img/home/common-16.png) center 0 no-repeat;
}
.tip .tip-center {
  padding: 5px 8px;
  font-size: 12px;
  background: #333;
  background: rgba(50, 50, 50, 0.95);
  word-wrap: break-word;
  word-break: normal;
  border-radius: 3px;
}
.bade {
  font-size: 12px;
  text-align: center;
  display: inline-block;
  min-width: 20px;
  padding: 0 5px;
  margin-left: 10px;
  border-radius: 8px;
  height: 15px;
  line-height: 15px;
  color: #fff;
}
.bade-denger {
  background-color: #d43f3a;
}
.bade-info {
  background-color: #00b3ee;
}
/*顶部*/
.top {
  height: 50px;
}
#Search-site {
  -webkit-transition: all 0.2s cubic-bezier(0.7, 0, 0.7, 1) 0s;
  -moz-transition: all 0.2s cubic-bezier(0.7, 0, 0.7, 1) 0s;
  -o-transition: all 0.2s cubic-bezier(0.7, 0, 0.7, 1) 0s;
  transition: all 0.2s cubic-bezier(0.7, 0, 0.7, 1) 0s;
  -khtml-transition: all 0.2s cubic-bezier(0.7, 0, 0.7, 1) 0s;
  -ms-transition: all 0.2s cubic-bezier(0.7, 0, 0.7, 1) 0s;
}
#Search-site:focus {
  width: 250px;
}
/*�в�*/
.serch-ico {
  position: relative;
  padding: 12px 10px;
}
.serch-ico:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 28%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(39, 174, 91, 0.6);
  opacity: 0;
}
.serch-ico:after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 30%;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  opacity: 0;
}
.active:after {
  opacity: 1;
}
.active:before {
  opacity: 1;
}
a {
  cursor: pointer;
}
.main {
  margin-top: 15px;
}
.main .row {
  margin: 0;
}
.main div[class^='col'] {
  padding: 0 !important;
}
.main .user-menu {
  width: 100%;
  min-height: 570px;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
}
.main .user-menu > li {
  width: 100%;
  height: 90px;
  cursor: pointer;
  -webkit-transition: all 0.2s cubic-bezier(0.7, 0, 0.7, 1) 0s;
  -moz-transition: all 0.2s cubic-bezier(0.7, 0, 0.7, 1) 0s;
  -ms-transition: all 0.2s cubic-bezier(0.7, 0, 0.7, 1) 0s;
  -o-transition: all 0.2s cubic-bezier(0.7, 0, 0.7, 1) 0s;
  transition: all 0.2s cubic-bezier(0.7, 0, 0.7, 1) 0s;
}
.main .user-menu > li:hover {
  background: rgba(0, 0, 0, 0.8);
}
.main .user-menu > li > .glyphicon {
  font-size: 25px;
  margin-top: 22px;
}
.main .user-menu > .active {
  color: #A0A0A0;
  background: #ffffff;
  border-bottom: 1px solid #e6e6e6;
  box-shadow: -1px 2px 1px rgba(0, 0, 0, 0.4);
}
.main .user-menu > .active:hover {
  background: #ffffff;
}
.main .main-content {
  width: 100%;
}
.main .main-content .main-content-home {
  overflow-y: auto;
  width: 100%;
  height: 570px;
  background: #ffffff;
  padding: 0 10px;
  box-sizing: border-box;
  /*display: none;
      margin-top: 20px;
      opacity: 0;
*/
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}
.main .main-content #home .main-content-top {
  background-color: #f2f3fb;
  margin: 0 -10px;
  min-height: 44px;
  padding: 0 10px;
}
.main .main-content #home .main-content-top .glyphicon {
  line-height: 18px;
  vertical-align: text-top;
}
.main .main-content #home .dropdown {
  display: inline-block;
  cursor: pointer;
  min-width: 100px;
  padding: 12px 10px;
}
.main .main-content #home .dropdown:hover {
  background-color: #fff;
}
.main .main-content #home .dropdown .dropdown-menu {
  min-width: 98px;
}
.main .main-content #tutor {
  background: #9d9d9d;
}
.main .main-content .main-user-info {
  position: fixed;
  right: 15px;
  top: 65px;
  width: 306px;
  -webkit-transition: transform 300ms cubic-bezier(0, 0.49, 1, 0.37);
  -moz-transition: transform 300ms cubic-bezier(0, 0.49, 1, 0.37);
  -ms-transition: transform 300ms cubic-bezier(0, 0.49, 1, 0.37);
  -o-transition: transform 300ms cubic-bezier(0, 0.49, 1, 0.37);
  transition: transform 300ms cubic-bezier(0, 0.49, 1, 0.37);
}
.main .main-content .main-user-info .main-content-right {
  width: 100%;
  background: #ffffff;
  height: 100px;
}
.main .main-content .main-user-info-btn {
  position: fixed;
  right: 65px;
  bottom: 65px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: #27ae5b;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  line-height: 65px;
  opacity: 1;
  cursor: pointer;
  box-shadow: 0 0 10px 2px rgba(39, 174, 91, 0.6);
}
@keyframes B-active {
  0% {
    transform: rotate(6deg);
  }
  12.5% {
    transform: rotate(-6deg);
  }
  25% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(6deg);
  }
}
.main .main-content .B-active {
  animation-name: B-active;
  animation-duration: 4s;
  animation-delay: 1.5s;
  animation-iteration-count: infinite;
}
.main .main-content .B-hide {
  transform: translate(200%);
}
.main .main-content .U-active {
  -webkit-transform: translate(110%);
  -moz-transform: translate(110%);
  -ms-transform: translate(110%);
  -o-transform: translate(110%);
  transform: translate(110%);
}
.main .main-content-right {
  min-height: 570px;
}
.main .main-content-right .right-user-info {
  padding: 15px 0 10px 0;
}
.main .main-content-right .right-user-info a {
  text-decoration: none;
  color: #4183C4;
  font-size: inherit;
}
.main .main-content-right .right-user-info a > img {
  position: absolute;
  width: 90px;
  border-radius: 50%;
  left: 17px;
}
.main .main-content-right .right-user-info .info-font {
  margin-top: 20px;
  margin-left: 116px;
}
.main .main-content-right .right-user-info .info-font > a {
  font-size: 15px;
  font-weight: bold;
  color: #666;
  text-decoration: none;
  vertical-align: text-bottom;
}
.main .main-content-right .right-user-info .info-font > .ulevel {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-position: center center;
  background-repeat: no-repeat;
  color: #b65e00;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  line-height: 28px;
  font-family: arial;
  cursor: pointer;
  background-image: url(../img/home/user-start/14.gif);
  margin-left: 3px;
}
.main .main-content-right .right-user-info .info-font > .progress {
  width: 90%;
  height: 7px;
  margin: 5px 0;
}
.main .main-content-right .right-user-info .info-font > .updata-info {
  font-size: 12px;
  margin-top: 6px;
}
.main .main-content-right .right-user-info .info-font > .updata-info > a {
  font-size: inherit;
  text-decoration: none;
  color: #4183C4;
  cursor: pointer;
}
.main .main-content-right .right-user-more {
  margin: 5px 0 10px 0;
  padding: 10px 0;
  background-color: #f0f0f0;
}
.main .main-content-right .right-user-more li {
  float: left;
  width: 33%;
  text-align: center;
}
.main .main-content-right .right-user-more li > span {
  display: block;
  font-size: 18px;
  font-weight: bold;
}
.main .main-content-right .right-user-more li > span:last-child {
  color: #555;
  font-size: 12px;
}
.main .main-content-right .right-suggest {
  margin: 20px 22px 4px 15px;
}
.main .main-content-right .right-suggest > .right-suggest-title {
  height: 18px;
  border-left: 4px solid #27ae5b;
  padding-left: 8px;
  margin-bottom: 8px;
}
.main .main-content-right .right-suggest > .right-suggest-center > span {
  font-size: 1em;
}
.main .main-content-right .right-suggest > .right-suggest-center > ul {
  max-height: 200px;
  overflow-y: auto;
  padding-right: 10px;
}
.main .main-content-right .right-suggest > .right-suggest-center li {
  margin-top: 15px;
  position: relative;
  padding-left: 60px;
  height: 50px;
}
.main .main-content-right .right-suggest > .right-suggest-center li a {
  font-size: 14px;
  text-decoration: none;
  color: #4183C4;
  cursor: pointer;
}
.main .main-content-right .right-suggest > .right-suggest-center li a > img {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}
.main .main-content-right .right-suggest > .right-suggest-center li div {
  padding-top: 5px;
  color: #666;
}
.main .main-content-right .right-suggest > .right-suggest-center li div > a {
  font-size: 12px;
  float: right;
}
@media (max-width: 768px) {
  .main .main-content-right .right-suggest > .sm-height {
    overflow: auto;
    max-height: 70px;
  }
}
.serch-info {
  display: none;
  width: 100%;
  border: 3px solid rgba(39, 174, 91, 0.6);
  padding: 10px;
  margin-top: 10px;
}
.serch-info .serch-title {
  border-left: 4px solid rgba(39, 174, 91, 0.6);
  padding-left: 5px;
}
.serch-info .serch-content {
  padding: 10px;
  line-height: 26px;
}
.serch-info .serch-content .label {
  cursor: pointer;
  display: inline-block;
  line-height: 16px;
  margin: 2px  4px 2px 0;
}
.serch-info .serch-content .label strong {
  visibility: hidden;
  margin-left: 3px;
}
.serch-info .serch-content .label:hover strong {
  visibility: inherit;
}
.serch-info .serch-content > img {
  width: 90px;
  height: 53px;
  cursor: pointer;
}
.serch-info .serch-info-more {
  display: none;
}
.teacherShow {
  padding: 10px 0;
}
.teacherShow .teacherShow-preloaders {
  padding-top: 10px;
}
