/*======z自定义组件样式css样式========*/
/*===============文字样式============*/
/*=========CSS3 兼容性===========*/
.btn-color {
  background-color: #2EB5E5;
}
.info-error > input {
  border-color: #a94442;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(169, 68, 66, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(169, 68, 66, 0.6);
}
.info-error > span:last-child {
  display: block;
  padding-left: 10px;
  padding-top: 5px;
  color: #a94442;
}
.info-ok > input {
  border-color: #3c763d;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(60, 118, 61, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(60, 118, 61, 0.6);
}
.font12px {
  font-size: 12px;
}
.font13px {
  font-size: 13px;
}
.font14px {
  font-size: 14px;
}
.font15px {
  font-size: 15px;
}
.font_big {
  font-size: 26px;
}
.font_small {
  font-size: 10px;
}
.font-family {
  font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.text-disabled {
  color: #777777 !important;
}
.text-disabled-l {
  color: #9d9d9d !important;
  line-height: 10px;
  height: 14px;
  vertical-align: bottom;
  cursor: pointer;
}
.dropdown-menu .text-disabled:hover,
.dropdown-menu .text-disabled:focus {
  color: #ffffff !important;
}
.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1500;
  overflow-y: auto;
  display: flex;
  align-items: center;
  padding: 10px;
  text-align: center;
  background-color: #6A8372;
}
.loading > .loading-content {
  display: block;
  width: 500px;
  padding: 20px;
  margin: auto;
  min-height: 342px;
  color: #fff;
}
table tr {
  cursor: pointer;
}
.text-white {
  color: #ffffff !important;
}
textarea {
  resize: none;
}
input[type='radio'] + label > span {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: sub;
  margin-right: 10px;
  position: relative;
  border-radius: 50%;
  border: 1px solid #cccccc;
}
input[type='radio'] + label > span:after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgba(39, 174, 91, 0.6);
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: 50%;
  margin-top: -5px;
  border-radius: 50%;
  display: none;
}
input[type='radio']:checked + label > span:after {
  display: inline-block;
}
input[type='checkbox'] + label > span {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: sub;
  margin-right: 10px;
  position: relative;
  border-radius: 3px;
  border: 1px solid #cccccc;
}
input[type='checkbox'] + label > span:after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgba(39, 174, 91, 0.6);
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: 50%;
  margin-top: -5px;
  border-radius: 3px;
  display: none;
}
input[type='checkbox']:checked + label > span:after {
  display: inline-block;
}
input[type='file'] {
  position: absolute;
  left: -9999px;
  top: -9999px;
  z-index: -9999;
}
.newMessage {
  position: fixed;
  top: 60px;
  right: 20px;
  z-index: 1000;
}
.newMessage .alert {
  margin-bottom: 5px;
  width: 300px;
  overflow: hidden;
}
.newMessage .alert-default {
  background-color: #fff;
}
/*背景图片*/
#bg-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-position: center 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.bg-img-1 {
  background-image: url('../img/home/bg_1.jpg');
}
.bg-img-2 {
  background-image: url('../img/home/bg_2.jpg');
}
.bg-img-3 {
  background-image: url('../img/home/bg_3.jpg');
}
.bg-img-4 {
  background-image: url('../img/home/bg_4.jpg');
}
.bg-img-5 {
  background-image: url('../img/home/bg_5.jpg');
}
.bg-img-login {
  background-image: url('../img/login/login.jpg');
}
.nav > li {
  min-width: 100px;
  text-align: center;
}
/*======鼠标悬浮提示============*/
.labelInfo {
  background: #fefefe;
  color: #000;
  font-size: 12px;
  width: 160px;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.labelInfo:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 45%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid red;
}
.labelInfo > div {
  padding: 0 10px;
}
.labelInfo .labelInfo-tilte {
  font-size: 14px;
  height: 35px;
  line-height: 34px;
  border-bottom: 1px solid #dcdcdc;
  text-align: center;
}
.labelInfo .labelInfo-content {
  color: #888888;
  padding: 10px;
}
.labelInfo .labelInfo-footer {
  padding: 0 10px 10px 10px;
}
.card {
  border-radius: 5px;
  border: #eee solid 1px;
  background-color: #ffffff;
  text-align: center;
  margin: 0.7em 0.8em;
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.7, 1) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.7, 0, 0.7, 1) 0s;
  -o-transition: all 0.3s cubic-bezier(0.7, 0, 0.7, 1) 0s;
  transition: all 0.3s cubic-bezier(0.7, 0, 0.7, 1) 0s;
  -khtml-transition: all 0.3s cubic-bezier(0.7, 0, 0.7, 1) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.7, 0, 0.7, 1) 0s;
}
.card a:hover {
  text-decoration: none;
}
.card:hover {
  border: #ddd solid 1px;
  box-shadow: 2px 3px 5px #ddd;
}
.card .card-bg {
  height: 70px;
  background: #f6f6f6;
  box-shadow: 0px 0px 1px #f6f6f6;
  background-position: left 0;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}
.card .card-content {
  position: relative;
  /*>.card-start{
      position: absolute;
      top: -5px;
      right: -5px;
      width: 83px;
      height: 83px;
      background: url(../img/home/badges_text.png) no-repeat;
    }
    >.start-4{
      background-position: 0 0;
    }
    >.start-2{
      background-position: -83px 0;
    }
    >.start-3{
      background-position: -166px 0;
    }
    >.start-1{
      background-position: 3px -166px;
    }
    >.start-5{
      background-position: 0 0;
    }*/
}
.card .card-content > h5 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
  color: #405B55;
}
.card .card-content > span {
  font-size: 12px;
  color: #6A8372;
  display: block;
  margin-bottom: 10px;
  margin-top: 3px;
}
.card .card-content .card-img {
  width: 106px;
  height: 106px;
  margin: 0 auto;
  padding: 11px 0 0 11px;
  border-radius: 50%;
  margin-top: -52px;
}
.card .card-content .card-img img {
  display: block;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  box-sizing: content-box;
}
.card .card-content .card-start li {
  list-style: none;
  width: 22px;
  height: 22px;
  display: inline-block;
}
.card .card-content .card-start li img {
  width: 100%;
  height: 100%;
}
.card .card-content .card-money {
  font: bold 10px Arial;
  margin: 3px 0;
  color: #a6a6a6;
}
.card .card-content .card-money > span:first-child {
  color: #dd533f;
}
.card .card-content .card-btn {
  display: none;
  color: rgba(39, 174, 91, 0.6);
  border: 1px solid rgba(39, 174, 91, 0.6);
  font-weight: 700;
  white-space: normal;
  height: 39px;
  width: 94px;
  cursor: pointer;
  line-height: 37px;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.2s cubic-bezier(0.7, 0, 0.7, 1) 0s;
  -moz-transition: all 0.2s cubic-bezier(0.7, 0, 0.7, 1) 0s;
  -ms-transition: all 0.2s cubic-bezier(0.7, 0, 0.7, 1) 0s;
  -o-transition: all 0.2s cubic-bezier(0.7, 0, 0.7, 1) 0s;
  transition: all 0.2s cubic-bezier(0.7, 0, 0.7, 1) 0s;
}
.card .card-content .card-btn:hover {
  background-color: rgba(39, 174, 91, 0.6);
  color: #ffffff;
  border-color: #ffffff;
  text-shadow: 0 1px 1px rgba(138, 27, 15, 0.41);
}
.card .card-content .card-btn .glyphicon {
  margin-right: 3px;
}
.card .card-footer {
  padding-bottom: 11px;
}
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px;
  }
}
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
svg:not(:root) {
  overflow: hidden;
}
.preloader {
  position: relative;
  display: inline-block;
}
.preloader:after {
  content: "";
  display: block;
  padding-top: 100%;
}
.preloader > svg {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.preloader > svg > circle {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-width: 2;
  stroke-miterlimit: 10;
  fill: none;
  animation: dash 1.5s ease-in-out infinite;
}
.preloader-green svg > circle {
  stroke: rgba(39, 174, 91, 0.6);
}
.preloader-md {
  width: 60px;
  height: 60px;
}
.preloader-sm {
  width: 45px;
  height: 45px;
}
.tip {
  display: none;
  position: absolute;
  z-index: 100000000000;
  max-width: 250px;
  color: #fff;
}
.tip .tip-arrow {
  height: 6px;
  background: url(../img/home/common-16.png) center 0 no-repeat;
}
.tip .tip-center {
  padding: 5px 8px;
  font-size: 12px;
  background: #333;
  background: rgba(50, 50, 50, 0.95);
  word-wrap: break-word;
  word-break: normal;
  border-radius: 3px;
}
.bade {
  font-size: 12px;
  text-align: center;
  display: inline-block;
  min-width: 20px;
  padding: 0 5px;
  margin-left: 10px;
  border-radius: 8px;
  height: 15px;
  line-height: 15px;
  color: #fff;
}
.bade-denger {
  background-color: #d43f3a;
}
.bade-info {
  background-color: #00b3ee;
}
/*顶部*/
.top {
  height: 50px;
}
#Search-site {
  -webkit-transition: all 0.2s cubic-bezier(0.7, 0, 0.7, 1) 0s;
  -moz-transition: all 0.2s cubic-bezier(0.7, 0, 0.7, 1) 0s;
  -o-transition: all 0.2s cubic-bezier(0.7, 0, 0.7, 1) 0s;
  transition: all 0.2s cubic-bezier(0.7, 0, 0.7, 1) 0s;
  -khtml-transition: all 0.2s cubic-bezier(0.7, 0, 0.7, 1) 0s;
  -ms-transition: all 0.2s cubic-bezier(0.7, 0, 0.7, 1) 0s;
}
#Search-site:focus {
  width: 250px;
}
/**=弹出框==*/
.alert-info {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  overflow-y: auto;
  display: flex;
  align-items: center;
  padding: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
}
.alert-info > .alert-module {
  background-color: #ffffff;
  min-height: 300px;
  max-width: 500px;
  border-radius: 3px;
  width: 100%;
  margin: auto;
  padding: 30px;
}
.alert-style {
  display: block!important;
  width: 80%;
  max-width: 500px;
  padding: 20px;
  background: #ffffff;
  min-height: 300px;
  font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.messagePanel {
  position: absolute;
  top: 50px;
  right: 0;
  width: 360px;
  height: 600px;
  box-shadow: 0 12px 60px rgba(0, 0, 0, 0.3);
}
.messagePanel iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.messagePanelOut {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
table.text-center th {
  text-align: center!important;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@-webkit-keyframes zoomInUp {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1) translateY(2000px);
    transform: scale(0.1) translateY(2000px);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.475) translateY(-60px);
    transform: scale(0.475) translateY(-60px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes zoomInUp {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1) translateY(2000px);
    -ms-transform: scale(0.1) translateY(2000px);
    transform: scale(0.1) translateY(2000px);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.475) translateY(-60px);
    -ms-transform: scale(0.475) translateY(-60px);
    transform: scale(0.475) translateY(-60px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
.zoomInUp {
  -webkit-animation-name: zoomInUp;
  animation-name: zoomInUp;
}
@-webkit-keyframes rollIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%) rotate(-120deg);
    transform: translateX(-100%) rotate(-120deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg);
  }
}
@keyframes rollIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%) rotate(-120deg);
    -ms-transform: translateX(-100%) rotate(-120deg);
    transform: translateX(-100%) rotate(-120deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
    -ms-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg);
  }
}
.rollIn {
  -webkit-animation-name: rollIn;
  animation-name: rollIn;
}
@-webkit-keyframes rollOut {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%) rotate(120deg);
    transform: translateX(100%) rotate(120deg);
  }
}
@keyframes rollOut {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
    -ms-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%) rotate(120deg);
    -ms-transform: translateX(100%) rotate(120deg);
    transform: translateX(100%) rotate(120deg);
  }
}
.rollOut {
  -webkit-animation-name: rollOut;
  animation-name: rollOut;
}
@-webkit-keyframes zoomInLeft {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1) translateX(-2000px);
    transform: scale(0.1) translateX(-2000px);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.475) translateX(48px);
    transform: scale(0.475) translateX(48px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes zoomInLeft {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1) translateX(-2000px);
    -ms-transform: scale(0.1) translateX(-2000px);
    transform: scale(0.1) translateX(-2000px);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.475) translateX(48px);
    -ms-transform: scale(0.475) translateX(48px);
    transform: scale(0.475) translateX(48px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
.zoomInLeft {
  -webkit-animation-name: zoomInLeft;
  animation-name: zoomInLeft;
}
@-webkit-keyframes zoomOutDown {
  40% {
    opacity: 1;
    -webkit-transform: scale(0.475) translateY(-60px);
    transform: scale(0.475) translateY(-60px);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.1) translateY(2000px);
    transform: scale(0.1) translateY(2000px);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }
}
@keyframes zoomOutDown {
  40% {
    opacity: 1;
    -webkit-transform: scale(0.475) translateY(-60px);
    -ms-transform: scale(0.475) translateY(-60px);
    transform: scale(0.475) translateY(-60px);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.1) translateY(2000px);
    -ms-transform: scale(0.1) translateY(2000px);
    transform: scale(0.1) translateY(2000px);
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
  }
}
.zoomOutDown {
  -webkit-animation-name: zoomOutDown;
  animation-name: zoomOutDown;
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
