/*=================主题样式====================*/
/*===============文字样式============*/
/*=========CSS3 兼容性===========*/
.btn-color {
  background-color: #2EB5E5;
}
.info-error > input {
  border-color: #a94442;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(169, 68, 66, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(169, 68, 66, 0.6);
}
.info-error > span:last-child {
  display: block;
  padding-left: 10px;
  padding-top: 5px;
  color: #a94442;
}
.info-ok > input {
  border-color: #3c763d;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(60, 118, 61, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(60, 118, 61, 0.6);
}
.info-ok > span:last-child {
  display: none;
}
.font12px {
  font-size: 12px;
}
.font13px {
  font-size: 13px;
}
.font14px {
  font-size: 14px;
}
.font15px {
  font-size: 15px;
}
.font_big {
  font-size: 26px;
}
.font_small {
  font-size: 10px;
}
.font-family {
  font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.text-disabled {
  color: #777777 !important;
}
.text-disabled-l {
  color: #9d9d9d !important;
  line-height: 10px;
  height: 14px;
  vertical-align: bottom;
  cursor: pointer;
}
.dropdown-menu .text-disabled:hover,
.dropdown-menu .text-disabled:focus {
  color: #ffffff !important;
}
