/*===============文字样式============*/


@spacing:1em;
@openColor:#ffffff;
@openBackground:#000;
@f12:12px;
@f14:14px;
@card-bg:#ffffff;       //卡片组件背景颜色
@green:rgba(39, 174, 91, .6);  //绿色  网站主题色

.font12px{
  font-size: 12px;
}

.font13px{
  font-size: 13px;
}

.font14px{
  font-size: 14px;
}

.font15px{
  font-size: 15px;
}

.font_big{
  font-size: 26px;
}
.font_small{
  font-size: 10px;
}

.font-family{
  font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.text-disabled{
  color: #777777 !important;
}
.text-disabled-l{
  color: #9d9d9d !important;
  line-height: 10px;
  height: 14px;
  vertical-align: bottom;
  cursor: pointer;
}
.dropdown-menu .text-disabled:hover,.dropdown-menu .text-disabled:focus{
  color: #ffffff !important;
}