/*===============文字样式============*/
/*=========CSS3 兼容性===========*/
.btn-color {
  background-color: #2EB5E5;
}
.info-error > input {
  border-color: #a94442;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(169, 68, 66, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(169, 68, 66, 0.6);
}
.info-error > span:last-child {
  display: block;
  padding-left: 10px;
  padding-top: 5px;
  color: #a94442;
}
.info-ok > input {
  border-color: #3c763d;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(60, 118, 61, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(60, 118, 61, 0.6);
}
.font12px {
  font-size: 12px;
}
.font13px {
  font-size: 13px;
}
.font14px {
  font-size: 14px;
}
.font15px {
  font-size: 15px;
}
.font_big {
  font-size: 26px;
}
.font_small {
  font-size: 10px;
}
.font-family {
  font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.text-disabled {
  color: #777777 !important;
}
.text-disabled-l {
  color: #9d9d9d !important;
  line-height: 10px;
  height: 14px;
  vertical-align: bottom;
  cursor: pointer;
}
.dropdown-menu .text-disabled:hover,
.dropdown-menu .text-disabled:focus {
  color: #ffffff !important;
}
.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1500;
  overflow-y: auto;
  display: flex;
  align-items: center;
  padding: 10px;
  text-align: center;
  background-color: #6A8372;
}
.loading > .loading-content {
  display: block;
  width: 500px;
  padding: 20px;
  margin: auto;
  min-height: 342px;
  color: #fff;
}
table tr td:first-child {
  font-weight: 600;
  color: #000;
}
.text-white {
  color: #ffffff !important;
}
textarea {
  resize: none;
}
input[type='radio'] + label > span {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: sub;
  margin-right: 10px;
  position: relative;
  border-radius: 50%;
  border: 1px solid #cccccc;
}
input[type='radio'] + label > span:after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgba(39, 174, 91, 0.6);
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: 50%;
  margin-top: -5px;
  border-radius: 50%;
  display: none;
}
input[type='radio']:checked + label > span:after {
  display: inline-block;
}
input[type='file'] {
  position: absolute;
  left: -9999px;
  top: -9999px;
  z-index: -9999;
}
.newMessage {
  position: fixed;
  top: 60px;
  right: 20px;
  z-index: 1000;
}
.newMessage .alert {
  margin-bottom: 5px;
  width: 300px;
  overflow: hidden;
}
.newMessage .alert-default {
  background-color: #fff;
}
